---
comments: true
---
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>

    <header class="page-header">
      <div class="wrapper page-header-wrapper">
        <div class="page-header-pattern">{% include patterns.html %}</div>
        <div class="page-header-profile">{% include profile.html profile_image="profile.png" name="Matthew Tesfaldet" email="mtesfald@eecs.yorku.ca" twitter="mtesfald" github="tesfaldet" %}
        </div>
        <h2 class="page-header-title">Matthew<br>Tesfaldet</h2>
      </div>
    </header>
    <main class="page-content" aria-label="Content">
      <div class="page-wrapper">
        {{ content }}
      </div>
    </main>

  </body>

</html>
