---
layout: default
---

<div class="home">
  <div class="home-content">
    <div class="wrapper about-me-wrapper">
      <div class="header-wrapper">
        <h2 class="header">About Me</h2>
        {% include header_patterns.svg %}
      </div>
      <p>I'm a second-year MSc student at York University under the co-supervision of <a href="https://www.eecs.yorku.ca/~mab/">Dr. Marcus Brubaker</a> and <a href="http://www.scs.ryerson.ca/~kosta/">Dr. Kosta Derpanis</a>. My research interests cover topics in computer vision and machine learning, with an emphasis on deep learning. Specifically, I am interested in texture analysis and synthesis, motion analysis, and generative models for image synthesis.<br><br>
      My affiliations include the <a href="https://cvil.eecs.yorku.ca">Computational Vision and Imaging Lab at York University (CVIL@York)</a>, the <a href="https://ryersonvisionlab.github.io">Ryerson Vision Lab (RVL)</a>, and <a href="http://vectorinstitute.ai">Vector Institute</a>.<br><br>
      Email: <a href="mailto:mtesfald@eecs.yorku.ca">mtesfald@eecs.yorku.ca</a><br>
      Twitter: <a href="https://twitter.com/mtesfald">@mtesfald</a><br>
      <a href="https://github.com/tesfaldet">Github</a><br>
      <a href="pdf/cv.pdf">CV</a>
      </p>
    </div>
    <div class="wrapper news-wrapper">
      <div class="header-wrapper">
        <h2 class="header">News</h2>
        {% include header_patterns.svg %}
      </div>
      {% include newsposts.html %}
    </div>
    <div class="wrapper publications-wrapper">
      <div class="header-wrapper">
        <h2 class="header">Publications</h2>
        {% include header_patterns.svg %}
      </div>
      {% include pubs.html %}
    </div>
  </div>
</div>
