---
layout: default
---

<div class="home">
  <div class="home-content">
    <div class="wrapper about-me-wrapper">
      <div class="header-wrapper">
        <h2 class="header">About Me</h2>
        {% include header_patterns.svg %}
      </div>
      <p>I'm a third-year PhD student at McGill University and <a href="https://mila.quebec/en/">Mila</a> under the
        co-supervision of <a href="http://www.cim.mcgill.ca/~derek/">Derek Nowrouzezahrai</a> and <a
          href="https://mila.quebec/en/person/pal-christopher/">Christopher Pal</a>. My research interests cover topics
        in computer vision and machine learning, with an emphasis on deep learning. Specifically, I am interested in
        generative models for visual content creation, neural art, differentiable image parameterizations, and
        differentiable self-organizing systems.<br><br>
        My current affiliations include the McGill Graphics Lab, <a href="https://mila.quebec/en/">Mila</a>, and <a
          href="https://blackinai.github.io">Black in AI</a>. I also co-organize the <a
          href="https://neuripscreativityworkshop.github.io/2021">Workshop on Machine Learning for Creativity and
          Design</a>.<br><br>
        My past affiliations include <a href="https://www.elementai.com">Element AI</a>, the <a
          href="https://cvil.eecs.yorku.ca">Computational Vision and Imaging Lab at York University (CVIL@York)</a>, the
        <a href="https://ryersonvisionlab.github.io">Ryerson Vision Lab (RVL)</a>, and <a
          href="http://vectorinstitute.ai">Vector Institute</a>.<br><br>
        Email: <a href="mailto:tesfaldet@hotmail.com">tesfaldet@hotmail.com</a><br>
        Twitter: <a href="https://twitter.com/mattierialgirl">@mattierialgirl</a><br>
        <a href="https://github.com/tesfaldet">Github</a><br>
        <a href="pdf/cv.pdf">CV</a><br><br>
        <span class="last-modified-at">[Last modified at: {{ page.last_modified_at | date: '%b %d, %Y'}}]</span>
      </p>
    </div>
    <div class="wrapper news-wrapper">
      <div class="header-wrapper">
        <h2 class="header">News</h2>
        {% include header_patterns.svg %}
      </div>
      {% include newsposts.html %}
    </div>
    <div class="wrapper publications-wrapper">
      <div class="header-wrapper">
        <h2 class="header">Publications</h2>
        {% include header_patterns.svg %}
      </div>
      {% include pubs.html %}
    </div>
  </div>
</div>