---
layout: default_page
---
<div class="home-page">
  <div class="home-page-content">
    <div class="wrapper about-me-wrapper">
      <div class="header-wrapper">
        <h2 class="header">About Me</h2>
        {% include header_patterns.svg %}
      </div>
      <p>
        Hi! Welcome to my website.<br><br>

        I am a PhD student attending <a href="https://www.mcgill.ca/ece/">McGill University</a> and <a href="https://mila.quebec/en/">Mila</a> under the co-supervision of <a href="http://www.cim.mcgill.ca/~derek/">Derek Nowrouzezahrai</a> and <a href="https://mila.quebec/en/person/pal-christopher/">Christopher Pal</a>.<br><br>

        I am interested in taking nature-inspired approaches to solving vision and graphics problems, via artificial intelligence. As such, <b>my research interests covers various topics underlying complex systems and artificial intelligence, such as differentiable self-organization, generative modeling with/of complex systems, collective intelligence, emergent phenomena, and neural dynamical systems</b> to name a few. Lately, I have been attracted to Neural Cellular Automata, investigating applications that may benefit from their robust, scalable, and adaptive dynamical nature.<br><br>

        I am a practicing interdisciplinary artist and DJ based in <a href="https://www.mcgill.ca/indigenous/land-and-peoples/learn-about-land-and-peoples-tiohtiake-montreal">Tiohtià:ke/Montréal</a>, having formerly hosted a radio show at <a href="https://n10.as">n10.as</a> called <a href="https://www.mixcloud.com/n10as/08_23_2019_focalpointmp3/">Focal Point</a>, and have published artworks at venues such as the <a href="https://canada-culture.org/en/a-propos/">Canadian Cultural Centre</a> in Paris and <a href="https://www.elektramontreal.ca/contact">ELEKTRA</a> in Tiohtià:ke/Montréal. During my free time I volunteer at <a href="https://n10.as">n10.as</a>, enjoy playing all kinds of videogames, bike, DJ, and play with my two cats.<br><br>

        Adjacent to my research interests lies my community goal of democratizing knowledge surrounding AI-based concepts, vocabulary, and algorithms to artists and underprivileged groups for the purposes of self-empowerment and awareness of the capabilities of AI models, harmful or otherwise. To that end, I'm heavily invested in community-building activities catered to the broader arts community as well as BIPOC and LGBTQ+ groups.<br><br>

        My current affiliations include the McGill Graphics Lab, <a href="https://mila.quebec/en/">Mila</a>, <a href="https://www.queerinai.com">Queer in AI</a>, and <a href="https://blackinai.github.io">Black in AI</a>.<br><br>

        My past affiliations include <a href="https://ai.facebook.com/research/">Meta AI</a>, the <a href="https://neuripscreativityworkshop.github.io/2021">Workshop on Machine Learning for Creativity and Design</a>, <a href="https://www.elementai.com">Element AI</a>, the <a href="https://cvil.eecs.yorku.ca">Computational Vision and Imaging Lab at York University (CVIL@York)</a>, the <a href="https://ryersonvisionlab.github.io">Ryerson Vision Lab (RVL)</a>, and <a href="http://vectorinstitute.ai">Vector Institute</a>.<br><br>

        <a href="https://twitter.com/mattierialgirl">X</a><br>
        <a rel="me" href="https://dair-community.social/@mattie">Mastodon</a><br>
        <a href="https://github.com/tesfaldet">Github</a><br>
        <a href="/assets/pdf/cv.pdf">CV</a><br><br>

        <span class="last-modified-at">[Last modified at: Apr 27, 2024]</span>
      </p>
    </div>
    <div class="wrapper news-post-wrapper">
      <div class="header-wrapper">
        <h2 class="header">News</h2>
        {% include header_patterns.svg %}
      </div>
      {% include news_post_list.html %}
    </div>
    <div class="wrapper pub-post-wrapper">
      <div class="header-wrapper">
        <h2 class="header">Publications</h2>
        {% include header_patterns.svg %}
      </div>
      {% include pub_post_list.html %}
    </div>
  </div>
</div>