@charset "utf-8";

// Fonts
@import url(https://fonts.googleapis.com/css?family=Merriweather:400,700,400italic,700italic);
@import url(https://fonts.googleapis.com/css?family=Merriweather+Sans:400,400italic,700,700italic);
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;300;400;500;600;700&display=swap');

// Define defaults for each variable.
$base-font-family: "Merriweather", Georgia, "Times New Roman", serif;
$base-font-family-sans: "Work Sans", "Merriweather Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$base-font-size:   16px !default;
$base-font-weight: 400 !default;
$base-font-weight-extralight: 200 !default;
$base-font-weight-light: 300 !default;
$base-font-weight-medium: 500 !default;
$base-font-weight-semibold: 600 !default;
$base-font-weight-bold: 700 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

$spacing-unit:     30px !default;

$text-color:       #515151 !default;
$background-color: white !default;
$brand-color:      rgb(199, 63, 110) !default;
$brand-color-light: lighten($brand-color, 10%) !default;
$brand-color-dark:  darken($brand-color, 10%) !default;

$grey-color:       #828282 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark:  darken($grey-color, 25%) !default;

// Width of the content area
$content-width:    800px !default;

$on-palm:          600px !default;
$on-laptop:        800px !default;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

// Import partials.
@import
  "minima/base",
  "minima/layout",
  "minima/syntax-highlighting"
;
