---
layout: default
---

<div class="home">

  <h1 class="page-heading">Posts</h1>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
        <span class="post-meta">Posted on {{ post.date | date: "%b %-d, %Y" }}</span>
        {% for tag in post.tags %}
          <li>
            <a href="/blog/tags/#{{ tag }}"><span class="label">{{ tag }}</span></a>
          </li>
        {% endfor %}
      </li>
    {% endfor %}
  </ul>
</div>
