<ul class="pubs-list">
  <li class="pub">
    <div class="pub-col pub-col-1">
      <img src="img/waterfall_styletransfer.gif"/>
    </div>
    <div class="pub-col pub-col-2">
      <div class="pub-title">
        <h3>
          Two-Stream Convolutional Networks for Dynamic Texture Synthesis
        </h3>
      </div>
      <div class="pub-authors">
          Mattie Tesfaldet, Marcus A. Brubaker and Konstantinos G. Derpanis
      </div>
      <div class="pub-venue">CVPR 2018 (Poster)</div>
      <div class="pub-links">
        <a href="https://openaccess.thecvf.com/content_cvpr_2018/papers/Tesfaldet_Two-Stream_Convolutional_Networks_CVPR_2018_paper.pdf"><div>Paper</div></a>
        <a href="https://yorkspace.library.yorku.ca/xmlui/handle/10315/35588"><div>MSc Thesis</div></a>
        <a href="https://ryersonvisionlab.github.io/two-stream-projpage/"><div>Project Page</div></a>
      </div>
    </div>
  </li>
</ul>
